@import "tailwindcss";
body {
  background-color: #f6f7f8;
}

@theme {
  --font-family-sans: "poppins", "sans-serif";
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

/* Aplicar para todo o projeto */
@layer base {
  html {
    font-family: var(--font-family-sans);
    font-weight: var(--font-weight-normal);
  }
}
